@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Reabastecimiento Panadería</a>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        @* Crear Pedido *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="crearPedido">
                <span class="bi bi-clipboard-plus-fill-nav-menu" aria-hidden="true"></span> Hacer Pedido
            </NavLink>
        </div>
        @* Ver Historial de Pedidos *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="verPedidos">
                <span class="bi bi-x-square-fill-nav-menu" aria-hidden="true"></span> Historial de Pedidos
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>  
                @* Agregar Producto *@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="agregarProducto">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Agregar Producto
                    </NavLink>
                </div>

                @* Eliminar Producto *@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="eliminarProducto">
                        <span class="bi bi-x-square-fill-nav-menu" aria-hidden="true"></span> Eliminar Producto
                    </NavLink>
                </div>
                @* Swagger *@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="swagger">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Swagger
                    </NavLink>
                </div>

                @* Gestionar Cuenta *@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>

                @* Logout *@
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Función de Administrador
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Función de Administrador
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Función de Administrador
                    </NavLink>
                </div>
                @* Registrarse *@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>

                @* Iniciar Sesión *@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

        
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    private bool collapseNavMenu = true;

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}