<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agregarProducto">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Agregar Producto
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="eliminarProducto">
                <span class="bi bi-x-square-fill-nav-menu" aria-hidden="true"></span> Eliminar Producto
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="crearPedido">
                <span class="bi bi-clipboard-plus-fill-nav-menu" aria-hidden="true"></span> Hacer Pedido
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="swagger">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Swagger
            </NavLink>
          </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}